---
layout: syson_default
title: SysON | The NextGen SysML Modeling Tool
excerpt: Edit SysMLv2 models with an open-source and web-based modeling tool.
---

<section id="intro" class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".2s">
    <div class="container">
        <div class="row align-items-end">
            {% include section_intro.html
                title="The NextGen SysML Modeling Tool"
                desc="Edit SysML v2 models with Eclipse SysON, an open-source and web-based MBSE modeling tool."


                href_1="https://doc.mbse-syson.org/syson/v2024.11.0/installation-guide/index.html"
                btn_txt_1="Get Started"
                target_1="self"

                href_2="#community"
                btn_txt_2="Stay tuned"
                target_2="self"

                img_href=""
                img_target="self"
                img_src="images/screenshots/syson-overview.png"
                img_alt="SysON screenshot showing a SysMLv2 diagram"
            %}
        </div>
    </div>
</section>

<section id="" class="bg_lightest_grey text-center">
    <div class="container">
        {% include block_heading.html
            title=""
        %}
        <div class="row">
            {% include block_cols.html
                col="4"
                icon_name="fa fa-check-circle"
                icon_color="txt_indigo"
                title="Standard Compliant"
                desc="SysON aims at providing an implementation of the OMG’s specification <b><a href='https://www.omgsysml.org/SysML-2.htm'>SysML v2</a></b>: language concepts, REST API, and interoperability textual format"
            %}
            {% include block_cols.html
                col="4"
                icon_name="fas fa-cloud"
                icon_color="txt_indigo"
                title="Web-Based"
                desc="Graphical, form-based and tabular structured editors that can be used from a web browser, without any specific installation on user's desktop"
            %}
            {% include block_cols.html
                col="4"
                icon_name="fa fa-lock-open"
                icon_color="txt_indigo"
                title="Open-Source"
                desc="Hosted in the Eclipse community, SysON aims to catalyze industrial collaboration, accelerate innovation, and foster the adoption of SysMLv2"
            %}
        </div>
    </div>
</section>

<section id="why" class="bg_indigo text-center">
    <div class="container">
        {% include block_heading.html
            title="Why SysON?"
        %}
        <div class="row text-left">
            {% include block_cols_text.html
                col="6"
                desc="SysML was created in 2005 as a standard for model-based systems engineering (MBSE) to elevate the role of models as primary tools for communication and documentation.<br><br>With system complexity continuing to escalate exponentially, and Digital Engineering emerging as a pivotal pillar to address an ever-challenging world, SysML 2.0 has been specified as the next-generation systems modeling language to improve precision, expressiveness, and usability."
            %}
            {% include block_cols_text.html
                col="6"
                desc="SysON’s objective is to provide System Engineers with super easy access to this new standard, at minimal cost and great ease of use, with the guarantee of interoperability with other open-source MBSE tools notably Capella and Papyrus.<br><br><b>This will be achieved through three means: the support of the SysML 2.0 standard, the use of state-of-the-art web technologies, and an open-source approach.</b>"
            %}
        </div>
    </div>
</section>

<section id="features" class="text-center">
    <div class="container">
        {% include block_heading.html
            title="Features"
            sub_title=""
            desc=""
        %}
        <div class="row">
            {% include block_cols.html
                col="4"
                icon_name="fas fa-project-diagram"
                icon_color="txt_indigo"
                title="General View"
                desc="The <i>General View</i> is a graphical representation that enables to display any members of a SysMLv2 model as a graph of nodes and edges."
            %}
            {% include block_cols.html
                col="4"
                icon_name="fas fa-expand-arrows-alt"
                icon_color="txt_indigo"
                title="Interconnection View"
                desc="The <i>Interconnection View</i> is a graphical representation on which you can see how parts, that are modular units of the systems, interact with each other through ports."
            %}
            {% include block_cols.html
                col="4"
                icon_name="fas fa-cubes"
                icon_color="txt_indigo"
                title="Model Libraries"
                desc="Model libraries are an integral part of the SysMLv2 standard for facilitating the reuse and the composition of system models between users. It is natively supported in SysON."
            %}
        </div>
        <div class="row">
            {% include block_cols.html
                col="6"
                icon_name="far fa-file-alt"
                icon_color="txt_indigo"
                title="Textual Import/Export"
                desc="SysML v2 defines a textual notation that is an additional view on the model. It allows different users and tools to exchange the content of models in a standard and human-readable format.
                "
            %}
            {% include block_cols.html
                col="6"
                icon_name="fas fa-sync"
                icon_color="txt_indigo"
                title="Capella Interoperability"
                desc="SysON aims at facilitating systems engineers to seamlessly work with both SysML v2 and <a href='https://mbse-capella.org/'>Capella</a>. Exchange of architecture models with Capella will be natively supported in SysON."
            %}
        </div>
    </div>
</section>

<section id="resources" class="bg_indigo text-center">
    <div class="container">
        {% include block_heading.html
            title="Resources"
            sub_title=""
            desc=""
        %}

		<div class="row">
			<div class="col-md-6 col-xs-12 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                <iframe style="margin:10px" class="shadow" width="530" height="298" src="https://www.youtube.com/embed/p8qcFOu1ats?fs=1&amp;loop=1&amp;autohide=1&amp;theme=light&amp;color=white" frameborder="0" allowfullscreen=""></iframe>
			</div>
			<div class="col-md-6 col-xs-12 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
				<iframe style="margin:10px" class="shadow" width="530" height="298" src="https://www.youtube.com/embed/GcRFW0YfFEI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>

		<div class="row">
			{% include block_cols.html
				col="3"
				icon_name="fa fa-youtube-play"
				icon_color="txt_white"
				title="Videos"
				desc=""
				href="https://www.youtube.com/@SysON-y7j"
				link_txt="Youtube channel "
				href_icon="fas fa-arrow-alt-circle-right"
			%}
			{% include block_cols.html
				col="3"
				icon_name="far fa-newspaper"
				icon_color="txt_white"
				title="Articles"
				desc=""
				href="https://blog.obeosoft.com/tags/syson"
				target="_blank"
				link_txt="SysON blog posts "
				href_icon="fas fa-arrow-alt-circle-right"
			%}
			{% include block_cols.html
				col="3"
				icon_name="fa fa-picture-o"
				icon_color="txt_white"
				title="Presentations"
				desc=""
				href="presentations.html"
				link_txt="Slides about SysON "
				href_icon="fas fa-arrow-alt-circle-right"
			%}
			{% include block_cols.html
				col="3"
				icon_name="far fa-file-alt"
				icon_color="txt_white"
				title="Documentation"
				desc=""
				href="https://doc.mbse-syson.org/"
				link_txt="SysON documentation "
				href_icon="fas fa-arrow-alt-circle-right"
			%}
        </div>
    </div>
</section>

<section id="roadmap" class="text-center">
    <div class="container">
        {% include block_heading.html
            title="Roadmap"
            sub_title=""
            desc="The project team works in an iterative mode to deliver a new version every 8 weeks.<br>The first release of SysON, version 2023.12, was launched in December 2023 by Obeo and CEA List.<br>The SysON roadmap takes into account user feedback and needs identified as part of an <a href='https://www.obeosoft.com/en/company/open-innovation'>Open Innovation</a> approach.<br>For the year 2024, our main goals include:"
        %}
        <div class="row">
            {% include block_cols.html
                col="4"
                icon_name="fa fa-university"
                icon_color="txt_indigo"
                title="Teaching & Experimentations"
                desc="Achieving a first level of maturity for SysML V2 modeling with SysON, suitable for teaching, research, and industrial pilot project activities."
            %}
            {% include block_cols.html
                col="4"
                icon_name="fa fa-industry"
                icon_color="txt_indigo"
                title="Industrial Collaborations"
                desc="Expanding industrial collaborations, via an Early Adopter Program, to prepare for deployment and usage in operational contexts in 2025."
            %}
            {% include block_cols.html
                col="4"
                icon_name="fas fa-tasks"
                icon_color="txt_indigo"
                title="SysML 2.0 Compliance"
                desc="Complying with the OMG SysML V2 specification, including providing a REST API and ensuring interoperability with the textual format."
            %}
            <div class="col-md-12 col-xs-12 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                <a href="https://doc.mbse-syson.org/syson/main/user-manual/release-notes/release-notes.html" class="btn btn-default span-right wow fadeInUp" data-wow-delay=".6s" target="_self">
                    Read the Changelog
                </a>
            </div>
        </div>
        <p>In 2025, we will intensify our collaborations with industrial partners to elevate SysON to the forefront of SysML V2 modeling tool excellence<br>and prepare it for professional, operational, and large-scale deployment.</p>
    </div>
</section>

<section id="community" class="text-center bg_indigo">
    <div class="container">
        {% include block_heading.html
            title="Community"
            sub_title=""
            desc=""
        %}

		<div class="row">
        	<div class="col-md-6 col-xs-12 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
        		<h4>Stay tuned!</h4>
       			<div class="row">

                    {% include block_cols.html
                        col="4 offset-md-2"
                        icon_name="fa fa-linkedin-square"
                        icon_color="txt_white"
                        title=""
                        desc="Connect to<br>SysON community"
                        href="https://www.linkedin.com/in/syson-mbse-tool/"
                        link_txt="LinkedIn "
                        href_icon="fas fa-arrow-alt-circle-right"
                    %}
                    {% include block_cols.html
                        col="4"
                        icon_name="fa fa-paper-plane"
                        icon_color="txt_white"
                        title=""
                        desc="Receive news<br>about SysON"
                        href="https://www.obeosoft.com/en/syson-mailing-list"
                        link_txt="Mailing List "
                        href_icon="fas fa-arrow-alt-circle-right"
                    %}
       			</div>
       		</div>
        	<div class="col-md-6 col-xs-12 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
        		<h4>Engage with us!</h4>
       			<div class="row">
                    {% include block_cols.html
                        col="4 offset-md-2"
                        icon_name="far fa-comments"
                        icon_color="txt_white"
                        title=""
                        desc="Contact SysON<br>developement team"
                        href="https://github.com/eclipse-syson/syson/discussions"
                        link_txt="Forum "
                        href_icon="fas fa-arrow-alt-circle-right"
                    %}
                    {% include block_cols.html
                        col="4"
                        icon_name="far fa-user"
                        icon_color="txt_white"
                        title=""
                        desc="Let's discuss<br>your project"
                        href="https://www.obeosoft.com/en/syson"
                        target="_blank"
                        link_txt="Open Innovation "
                        href_icon="fas fa-arrow-alt-circle-right"
                    %}
       			</div>
       		</div>
       	</div>
       
    </div>
    </div>
</section>
<section id="leads" class="text-center">
    <div class="container">
        {% include block_heading.html
            title="Project Lead"
        %}
        <div class="row align-items-center">
            <div class="col-md-6 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                <p><a href="https://www.obeosoft.com" title="Logo Obeo" target="_blank"><img src="{{  site.baseurl }}/common_assets/images/logos/logo_obeo.svg" width="240" height="62" alt="Obeo logo"></a></p>
            </div>
            <div class="col-md-6 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                <p><a href="https://list.cea.fr" title="Logo CEA-list" target="_blank"><img src="{{  site.baseurl }}/images/logos/logo_cea_list.png" alt="CEA logo"></a></p>
            </div>
        </div>
    </div>
</div>
</section>

