<div class="row">
    <div class="col-md-5 {{ include.txt_order }} wow fadeInLeft" data-wow-delay=".1s">
        <h3>{{ include.title }}</h3>
        {{ include.desc }}
        <p><a href="{{ include.lnk_href }}" target="_{{ include.lnk_target }}">{{ include.lnk_txt }}  <i class="{{ include.lnk_icon }}" aria-hidden="true"></i></a></p>
    </div>
    <div class="col-md-7 popup-gallery text-center {{ include.img_order }} wow fadeInUp" data-wow-delay=".2s">
        <a href="{{ include.img_src }}" target="_{{ include.lnk_target }}" title="{{ include.img_title }}"><img src="{{ include.img_src }}" class="{{ include.img_class }}" alt="{{ include.img_title }}"></a>
    </div>
</div>