<div class="col-md-{{ include.col }} col-xs-12 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
    <div>
        <i class="{{ include.icon_name }} fa-3x pa2 {{ include.icon_color }}" aria-hidden="true"></i>
    </div>                                
    <div>
        <h4>{{ include.title }}</h4>
        <p>{{ include.desc }}</p>
        <p><a class="{{ include.href_class }}" href="{{ include.href }}" target="{{ include.target }}">{{ include.link_txt }} <i class="{{ include.href_icon }}" aria-hidden="true"></i>
        </a></p>                                
    </div>
</div>


