
<div class="container-fluid top-banner bg_indigo text-center">
    <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp; SysON is currently under active development and <u>not yet intended for production use</u>. <a href="#status">Learn more</a></span>
</div>

<!-- Navigation -->
<header id="top-bar" class="navbar navbar-expand-lg sticky-top">
    <div class="container">
        <a class="navbar-brand" href="{{ site.baseurl }}/">
            <img src="{{  site.baseurl }}/images/logos/logo_syson.svg" width="154" height="40" alt="Logo Eclipse SysON">
        </a>

        <!-- /logo -->
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <nav class="navbar-collapse collapse" id="navbarResponsive">
            <div class="main-menu ml-auto">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="index.html#features">Features</a>
                    </li>
                    <li>
                        <a href="index.html#resources">Resources</a>
                    </li>
                    <li>
                        <a href="index.html#roadmap">Roadmap</a>
                    </li>
                    <li>
                        <a href="index.html#community">Community</a>
                    </li>
                    <li id="dwnld">
                        <a href="https://github.com/eclipse-syson/syson">Source Code</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
