body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #777;
  font-weight: 400;
  padding-top: 80px;
}
h1,h2,h3,h4,h5,h6 {
  color: #261e58;
  font-weight: bold;
  margin-bottom: 1rem;
}
p {
  line-height: 22px;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: .5rem;
}
ul {
  list-style: square;
}
h1 {font-size: 38px;}

#intro h1 {
    text-transform: uppercase;
}
.span-left {
    margin-left: 40px;
}
.span-right {
    margin-right: 40px;
}
h2 {
  font-size: 26px;
}
code {
  color:#009db5;
}
.text-uppercase {
  letter-spacing: 2px;
}
a, .popup-gallery a:hover, .linked_title a:hover{
	color: #FBB800;
	text-decoration: none;
}
a:hover, a:active, a:focus, .linked_title a,
#top-bar .main-menu li#dwnld > a:focus, .popup-gallery a{
  text-decoration: none;
  color: #261e58;
  outline: 0;
}
.row {
  padding: 40px 0;
}
.row img {
    padding: 0px;
}
img.shadow {
  padding: 0 !important;
}
.pa1 {
  padding: 10px;
}
.pa2 {
  padding: 20px;
}
.pa3 {
  padding: 30px;
}
.pa4 {
  padding: 40px;
}
.bg_indigo a:hover, #top-bar .main-menu li#dwnld > a:hover {color:#fff;}
.bg_indigo a:focus {color:#FBB800;}
.bg_indigo .btn-default:hover {
background-color: #fff; 
color: #261e58;
}
.btn {
  font-size: 13px;
  font-weight: 700;
  padding: 16px 35px;
  text-transform: uppercase;
  margin-top: 30px;
}
.btn-default {
   color: #fff;
   background-color: #FBB800;
   border: 1px solid #FBB800;
   letter-spacing: 2px;
}
.btn-primary {
    background-color: #fff;
    color: #FBB800;
    border: 1px solid #FBB800;
    letter-spacing: 2px;
}
.btn-secondary {
    background-color: #fff;
    color: #7667A3;
    border: 1px solid #7667A3;
    letter-spacing: 2px;
}
.btn-secondary:hover, .show>.btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #261e58;
  border-color: #261e58;
}
.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default
{
	color: #FBB800;
    background-color: #261e58;
    border: 1px solid #261e58;
}
.btn-primary:hover{
	color: #FBB800;
    background-color: #261e58;
}
.btn-sm{
  font-size: 10px;
  padding: 7px 14px;
  letter-spacing: 1px;
}
section {
  padding: 40px;
}
.block-center {
  float: none;
  margin: 0 auto;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}
.title {
  font-size: 30px;
  line-height: 1.1;
  font-weight: 300;
  color: #261e58;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.subtitle {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 18px;
  text-transform: uppercase;
}
.bg_indigo p, .bg_indigo h2, .bg_indigo h4 {
  color: #fff;
}
.vcenter {
  display: grid;
  align-items: center;
}
.col-md-7 img {
  width: 100%;
}
.popup-gallery img:hover{
  cursor: zoom-in;
}
/* Menu - Navigation*/
#top-bar {
  background: #fff;
  color: #fff;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  padding: 13px 0;
  -webkit-box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #dedede;
}
#top-bar.animated-header {
  padding: 20px 0;
  background: #ffffff;
  box-shadow: none;
}
#top-bar .main-menu li, footer ul li  {
  position: relative;
  list-style: none;
}
#top-bar .main-menu li {
  padding: 10px 15px 2px 15px;
}
#top-bar .main-menu li.active a{
  font-weight: bold;
  border-bottom: 4px solid #261e58;
  padding-bottom: 4px;
}
#top-bar .main-menu > li > a:hover {
  background: transparent;
}
#top-bar .main-menu li a {
  font-size: 14px;
  font-weight: 500;
  border-bottom: 4px solid transparent;
  padding-bottom: 4px;
  -webkit-transition: .1s all;
  -o-transition: .1s all;
  transition: .1s all;
  text-transform: uppercase;
  display: block;
  color: #261e58;
}
#top-bar .main-menu li a:hover, #top-bar .main-menu li#dwnld > a {
  color: #FBB800;
}
#top-bar .main-menu li.active a:hover {
  border-bottom: 4px solid #FBB800;
}
#top-bar .main-menu li#dwnld > a:focus {
background-color: transparent;
}
#top-bar .main-menu > li#dwnld {
  background-color: #261e58;
}
.nav>li#dwnld {
  background-color: #261e58;
  border-radius: 4px;
}
#top-bar .main-menu li#dwnld:hover, .nav li#dwnld:hover {
  background-color: #FBB800;
}
.navbar-header .navbar-brand {
  padding: 5px 0;
}
.navbar-header .navbar-brand a {
  height: auto;
  display: inline-block;
  margin-top: -10px;
}
.navbar-right .dropdown-menu {
  right: auto;
  left: 0;
}
.dropdown-menu > ul, .dropdown-menu .show ul {
  background-color: #261e58;
}
.nav .open > a,
.nav .open > a:focus {
  background-color: transparent;
}
#top-bar .dropdown-menu > ul > li > a {
  display: block;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  padding: 8px 0;
  color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#top-bar .dropdown-item.active {
  font-weight: 500;
  color: #212529;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23292b2c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: .4rem .6rem;
  background-size: .75rem .75rem;
}
/* Colors
-----------*/
.bg_indigo {
	background: #261e58;
}
.bg_yellow {
	background: #FBB800;
}
.bg_purple {
	background: #7667A3;
}
.bg_lightest_grey {
	background: #eeeeee;
}
.txt_indigo, .dropdown-item {
	color: #261e58;
}
.txt_purple {
	color: #7667A3 !important;
}
.txt_yellow {
	color: #FBB800;
}
.txt_lightest_grey {
	color: #bdbdbd;
}
.txt_white {
color: #fff !important;
}
.txt_weight_300 {
font-weight: 300;
}
.call-to-action {
  background-size: cover;
  background-attachment: fixed;
  padding: 80px 0;
  text-align: center;
  position: relative;
  color: #fff;
}
.call-to-action .block {
  position: relative;
  z-index: 99;
  color: #fff;
}
.call-to-action .block h2 {
  margin-bottom: 15px;
  color: #fff;
}
.call-to-action .block p {
  margin-top: 20px;
}
#feature {
  padding: 80px 0;
}
#feature .media {
  margin: 0px 0 70px 0;
}
#feature .media .media-left {
  padding-right: 25px;
}
#feature h3 {
  color: #000;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  margin: 0px 0px 15px;
  font-weight: 400;
}
#feature p {
  line-height: 25px;
  font-size: 14px;
  color: #777777;
}
#feature .icon {
  text-decoration: none;
  color: #fff;
  background-color: #FBB800;
  height: 100px;
  text-align: center;
  width: 100px;
  font-size: 50px;
  line-height: 100px;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-shadow: #00a4ba 1px 1px, #00a4ba 2px 2px, #00a4ba 3px 3px, #00a4ba 4px 4px, #00a4ba 5px 5px, #00a4ba 6px 6px, #00a4ba 7px 7px, #00a4ba 8px 8px, #00a4ba 9px 9px, #00a4ba 10px 10px, #00a4ba 11px 11px, #00a4ba 12px 12px, #00a4ba 13px 13px, #00a4ba 14px 14px, #00a4ba 15px 15px, #00a4ba 16px 16px, #00a4ba 17px 17px, #00a4ba 18px 18px, #00a4ba 19px 19px, #00a4ba 20px 20px, #00a4ba 21px 21px, #00a4ba 22px 22px, #00a4ba 23px 23px, #00a4ba 24px 24px, #00a4ba 25px 25px, #00a4ba 26px 26px, #00a4ba 27px 27px, #00a4ba 28px 28px, #00a4ba 29px 29px, #00a4ba 30px 30px, #00a4ba 31px 31px, #00a4ba 32px 32px, #00a4ba 33px 33px, #00a4ba 34px 34px, #00a4ba 35px 35px, #00a4ba 36px 36px, #00a4ba 37px 37px, #00a4ba 38px 38px, #00a4ba 39px 39px, #00a4ba 40px 40px, #00a4ba 41px 41px, #00a4ba 42px 42px, #00a4ba 43px 43px, #00a4ba 44px 44px, #00a4ba 45px 45px, #00a4ba 46px 46px, #00a4ba 47px 47px, #00a4ba 48px 48px, #00a4ba 49px 49px, #00a4ba 50px 50px, #00a4ba 51px 51px, #00a4ba 52px 52px, #00a4ba 53px 53px, #00a4ba 54px 54px, #00a4ba 55px 55px, #00a4ba 56px 56px, #00a4ba 57px 57px, #00a4ba 58px 58px, #00a4ba 59px 59px, #00a4ba 60px 60px, #00a4ba 61px 61px, #00a4ba 62px 62px, #00a4ba 63px 63px, #00a4ba 64px 64px, #00a4ba 65px 65px, #00a4ba 66px 66px, #00a4ba 67px 67px, #00a4ba 68px 68px, #00a4ba 69px 69px, #00a4ba 70px 70px, #00a4ba 71px 71px, #00a4ba 72px 72px, #00a4ba 73px 73px, #00a4ba 74px 74px, #00a4ba 75px 75px, #00a4ba 76px 76px, #00a4ba 77px 77px, #00a4ba 78px 78px, #00a4ba 79px 79px, #00a4ba 80px 80px, #00a4ba 81px 81px, #00a4ba 82px 82px, #00a4ba 83px 83px, #00a4ba 84px 84px, #00a4ba 85px 85px, #00a4ba 86px 86px, #00a4ba 87px 87px, #00a4ba 88px 88px, #00a4ba 89px 89px, #00a4ba 90px 90px, #00a4ba 91px 91px, #00a4ba 92px 92px, #00a4ba 93px 93px, #00a4ba 94px 94px, #00a4ba 95px 95px, #00a4ba 96px 96px, #00a4ba 97px 97px, #00a4ba 98px 98px, #00a4ba 99px 99px, #00a4ba 100px 100px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #bdbdbd;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #bdbdbd;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #bdbdbd;
}
:-moz-placeholder { /* Firefox 18- */
  color: #bdbdbd;
}
#map-canvas {
  width: 100%;
  height: 350px;
  background-color: #CCC;
}
/* Menu - Navigation */
input {
  color:inherit;
  background-color: #fefefe;
  border: 1px solid #bdbdbd;
}
#update_site input {
  width: 50%;
}
/* Badges */
.badge {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  vertical-align: middle;
}
#sirius_versions .badge {
  margin-top: -3px;
}
/* Footer */
footer {
  background: #261e58;
  padding: 25px 0;
  color: #fff;
  border-top: 1px solid #dedede;
}
footer h6{
    color: #fff;
    font-weight: bolder;
    font-size: 18px;
}
footer #copyright {
  font-size: 12px;
  margin-bottom: 0;
  margin-top: 10px;
}
footer .row img {
    padding: 0;
}
footer ul {padding-left: 0;}
footer a {
    font-size: 12px;
    color:#fff;
}
footer a:hover, footer a:focus, footer a:active {color:#ccc;}
/* Fancybox
-----------*/
.fancybox-close {
  background: url("../images/icons/close.png") no-repeat scroll 0 0 transparent;
  height: 50px;
  right: 0;
  top: 0;
  width: 50px;
}
.fancybox-next span {
  background: url("../images/icons/right.png") no-repeat scroll center center #261e58;
  height: 50px;
  width: 50px;
  right: 0;
}
.fancybox-prev span {
  background: url("../images/icons/left.png") no-repeat scroll center center #261e58;
  height: 50px;
  width: 50px;
  left: 0;
}
.fancybox-title h3 {
  font-size: 15px;
  margin: 0;
}
.fancybox-title {
  padding: 15px 8px;
}
.wrapper_404 h1 {
  font-size: 200px;
  color: #FBB800;
  line-height: 1;
}
.wrapper_404 h2 {
  font-size: 50px;
  margin-top: 0;
}
.company-description {
  margin-top: 80px;
}
.company-description .block h3 {
  margin-top: 0;
}
.company-description .block p {
  color: #727272;
}
.about-feature {
  margin-top: 50px;
}
.about-feature .block {
  color: #fff;
  width: 33.33%;
  padding: 5%;
  float: left;
}
.about-feature .block p {
  font-weight: 300;
}
.about-feature .about-feature-1 {
  background: #FBB800;
}
.about-feature .about-feature-2 {
  background: #00B0C7;
}
.about-feature .about-feature-3 {
  background: #00A6BB;
}
article {
  padding: 30px 0;
}
.gallery {
  padding: 100px;
}
.gallery figure .buttons {
  left: 40%;
}
div.popup-gallery {
  display: unset;
}
#videos .video_thumbnail p a {
    position: relative;
    display: block;
    opacity: 1;
    -webkit-transition: .7s;
    -o-transition: .7s;
    transition: .7s;
}
#videos .video_thumbnail p a::before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f16a";
    color: #261e58;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    display: block;
    position: absolute;
    font-size: 40px;
    opacity: 0.8;
    top: 40%;
    left: 43%;
    z-index: 4;
}
#videos .video_thumbnail p a:hover::before {
    color: #FBB800;
    opacity: 1;
}
/* Tab Style
------------- */
.tab-content {
    padding: 20px;
    text-align: left;
}
.nav-tabs > li > a {
    background: #dedede;
    border: 1px solid transparent;
    border-bottom: none;
    padding: 10px 20px;
    color: #fff;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #002b3c;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs > li a:hover {
    background: #ffffff;
    border: 1px solid #eeeeee;
    border-bottom: none;
    color: #002b3c;
}
.nav-tabs > li > a {
  text-transform: uppercase;
  font-size: 14px;
}
.tab-content img, .arcadia-content img{
	margin: 40px 0;
}
/* Table Style
--------------- */
.table {
  margin: 2rem 0 4rem 0;
} 
.table thead th {
  border-top: none;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #FBB800;
  background-color: #261e58;
}
/* Accordion Style
--------------- */
.dropdown_content {
	margin-bottom: 20px;
}
.accordion h3 {
	color: #FBB800;
	margin-bottom: 5px; 
}
.dropdown_content .fa-plus, .dropdown_content .fa-caret-down {
    float: right;
    font-size: 25px;
    font-weight: initial;
}
.next-section .caret {
margin-top: -87px;
border-top: 20px solid;
border-right: 45px solid rgba(0, 0, 0, 0);
border-left: 45px solid rgba(0, 0, 0, 0);
text-align: center;
}
.dropdown_content .accordion-group {
    border-bottom: 1px solid #dedede;
    padding: 20px 0;
}
.dropdown_content .accordion-inner {
    padding-top: 20px;
}
/* Gallery Style
--------------- */
.row.usecase .thumbs ul {
padding-inline-start: 0;
margin-top: 20px;
}
.row.usecase .thumbs ul li {
  display: inline-block;
  list-style: none;
  padding-right: 15px;
}
.row.usecase img {
  padding: 0;
}
.row.usecase img.shadow {
  box-shadow: 0 2px 6px #999 !important;
}
/* Cookies consent
-------------------------- */
.cc-color-override-1434350510.cc-window, .cc-color-override-1434350510.cc-revoke, .cc-color-override-1434350510 .cc-btn {
  font-family: "Lato", Arial, sans-serif !important;
}
.cc-color-override-1434350510.cc-window{
  background-color: #261e58 !important;
}
.cc-color-override-1434350510.cc-revoke {
  background-color: #FBB800 !important;
}
.cc-color-override-1434350510.cc-revoke:hover {
  text-decoration: none !important;
  color: #FBB800 !important;
  background-color: #261e58 !important;

}
.cc-color-override-1434350510 .cc-btn:last-child, .cc-highlight .cc-btn:first-child:focus, .cc-highlight .cc-btn:first-child:hover  {
  background-color: #FBB800 !important;
  color: #261e58 !important;

}
.cc-color-override-1434350510 .cc-highlight .cc-btn:first-child {
  color: #261e58 !important;
}
.cc-color-override-1434350510 .cc-btn:hover, .cc-color-override-1434350510 .cc-btn:focus {
  background-color: #fff !important;
  color: #261e58 !important;
  text-decoration: none !important;
}
.cc-banner .cc-message {
  padding-right: 50px;
}
/* Responsive
------------- */
@media only screen and (min-width: 1200px) {
  #top-bar .main-menu li:first-child {
    padding-left: 0px;
  }
}
@media only screen and (max-width: 1199px) {
  body {
    padding-top: 142px !important;
  }
}
@media only screen and (max-width: 991px) {
  .col-md-7 iframe {
    width: 100%;
    height: 95%;
  }
}
@media only screen and (max-width: 767px) {
  .row img.responsive {    
      width: 100%;
      height: 100%;
  }
  .row img {    
    padding: 20px 0;
  }
  .navbar-brand {padding-left: .75rem;}
  h1 {font-size: 31px;}
  h4 {font-size: 20px;}
  .title {font-size: 28px;}
  .btn {padding: 8px 18px;}
  .span-right {margin-right: 4px;}
}
